/* 변수 */
:root {
  --base-width: 940px;
}

/* 숨김 컨텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 공통 스타일 - Reset */
.reset-list{
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

/* 영역별 임시 코드 */

.header {
  background: yellow; /*root 사용하기 */
}
.visual {
  background: pink;
}
.main {
  background: aqua;
}
.slogan {
  background: orange;
}
.footer {
  background: lime;
}

.footer-bg {
  background: silver;
}

/* 기본 스타일 */
body, body *, body *::before, body *::after {
  box-sizing: border-box;
}

/* 레이아웃 */

.header, .visual, .main, .slogan, .footer {
  width: var(--base-width);
  margin: 0 auto;
}

/* .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 헤더 */
.header {
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 50px;
  margin: 0;
  font-size: 1em;
}

.logo a, .logo img {
  display: block;
}

/* 안내 링크 */
.member-service{
  background: lime;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 비주얼 */
.visual {
  
}

/* 메인 */
/* .main {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  padding: 40px 0;
} */

/* .main::after{
  content: "마지막 가상 요소 박스";
  clear: both;
  display: block;
  background: gray;
} */

.main {
  display: flow-root;
  min-height: 450px;
  padding: 40px 0;
}

.group {
  float: left;
  margin: 0 20px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* html에 clearfix 추가 */
/* .clearfix {
  clear: both;
} */

/* 슬로건 */
.slogan {
  
}

/* 푸터 */
.footer-bg {
  
}

.footer {
  
}