:root {
  --base-width: 940px;
}

/* 영역별 임시 코드 */

.header {
  background: yellow; /*root 사용하기 */
}
.visual {
  background: pink;
}
.main {
  background: aqua;
}
.slogan {
  background: orange;
}
.footer {
  background: lime;
}

.footer-bg {
  background: silver;
}

/* 기본 스타일 */
body, body *, body *::before, body *::after {
  box-sizing: border-box;
}

/* 레이아웃 */

.header, .visual, .main, .slogan, .footer {
  width: var(--base-width);
  margin: 0 auto;
}

.header {
  margin: 0 auto; /* 위아래 왼쪽오른쪽 */
}
.visual {
  
}
.main {
  
}
.slogan {
  
}

.footer-bg {
  
}

.footer {
  
}