/* 변수 */
:root {
  --base-width: 940px;
  --anchor-space: 10px;
}

/* 숨김 컨텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 공통 스타일 - Reset */
.reset-list{
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

/* 영역별 임시 코드 */

.header {
  background: yellow; /*root 사용하기 */
}
.visual {
  background: pink;
}
.main {
  background: aqua;
}
.slogan {
  background: orange;
}
.footer {
  background: lime;
}

.footer-bg {
  background: silver;
}

/* 기본 스타일 */
body, body *, body *::before, body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #ccc;
  color: #181818;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 레이아웃 */

.header, .visual, .main, .slogan, .footer {
  width: var(--base-width);
  margin: 0 auto;
}

/* .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 헤더 */
.header {
  position: relative;
  background: #fff;
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  border-radius: 0 0 15px 15px ;
  padding: 0 30px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 50px;
  margin: 0;
  font-size: 1em;
}

.logo a, .logo img {
  display: block;
}

/* 안내 링크 */
.member-service{
  text-align: right;
  text-transform: uppercase;
  /* background: skyblue; */
  padding: 4px 0;
  position: relative;
  left: var(--anchor-space);
  /* font-variant: small-caps; */
}

.member-service li {
  /* background: orange; */
  display: inline-block;
  /* background: orange; */
}

.member-service a {
  display: inline-block;
  /* background: gray; */
  padding: 6px var(--anchor-space);
  
}

.navigation{
  background: yellow;
}

.menu {
  /* background-color: aqua;
  background-image: url(../images/ani_flower_03.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200px 250px; */
  /* background: aqua url(../images/ani_flower_03.png) no-repeat 0 0 / 200px 250px; */
  background: #e8bd25;
  background: linear-gradient(to bottom, #e8bd25 0%,#f4812e 50%,#e8bd25 100%);
  /* border-top: 2px solid #000; */
  box-shadow: 0px -2px 0 0 #000;
  height: 50px;
  padding-left: 220px;
}

/* .menu-item:first-child {
  margin-left: 220px;
} */

.menu-item {
  float:left;
}

.sub-menu {
  position: absolute;
  display: none;
}

.menu-item:first-child .sub-menu{
  display: block;
}

/* 비주얼 */
.visual {
  
}

/* 메인 */
/* .main {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  padding: 40px 0;
} */

/* .main::after{
  content: "마지막 가상 요소 박스";
  clear: both;
  display: block;
  background: gray;
} */

.main {
  display: flow-root;
  min-height: 450px;
  padding: 40px 0;
}

.group {
  float: left;
  margin: 0 20px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* html에 clearfix 추가 */
/* .clearfix {
  clear: both;
} */

/* 슬로건 */
.slogan {
  
}

/* 푸터 */
.footer-bg {
  
}

.footer {
  
}